* {margin: 0; padding: 0; }
html, body {background-color: #F5FD36; height: 100%; width: 100%; }
#wrapper {height: 100%; width: 100%; }
//td {border: 1px solid black; }
td {overflow:hidden;}
#ff {background: #67DD2F; height: 50%; width: 1px; }
#ff a:hover {background-color: #64FF19; }
#sf {background: #519331; height: 50%; Vertical-align:bottom; overflow:hidden; }
#sf a:hover {background-color: #64FF19; }
#ff a:hover {background-color: #64FF19; }
#fs {background: #F9FD96; }
#ss {background: #F6F076;}
//#fake {height: 10%; }
table {border-spacing: 0px; border-collapse: collapse; }
ul {list-style-type: none; width: 100%; overflow:hidden; height: 100%; display: inline-block; }
li a {display: block; text-align:center; height: 65px; width: 65px; padding: 6px 0 0 6px; }
li a img {display: block; height: 55px; width: 55px; }
li a:hover {background-color: red; }
//http://paletton.com/#uid=a1W2G0kllllvAJ9qtt1gddEb55Y